<div class="myStory">
    <h2>My Story</h2>

    <div class="storyBody">

            <p>
            Hello! Thank you for visiting my personal website! My name is Lydia and I love creating websites!</p>
        <p>
            In elementary school, my parents would force me to take time everyday to study something new. I always chose 
            to spend time learning some programming, although, if I'm honest, I thought it was a little boring. 
        </p>

        <p>
        When I started my degree, I thought I would still not love it. I reluctantly signed up for a programming class that was required at the time. Instead of being bored
            throughout the whole class, I found myself looking forward to doing my homework and going to class. I quickly fell in love with the combination of creativity and logic that web development provides. 
        </p>

        <p>
            Since then, I've had the great opportunity to learn so much more about web devleopment and other technologies. I'm looking forward to getting to continue my education during my career! 
        </p>

    </div>
</div>

<div class="whatIDo">
  
    <h2>What I Do</h2>  
</div>


<app-languages-list></app-languages-list>
