/* HTML */

body{
    font-family: 'Caladea', serif;
}

article{
    border: solid rgb(131, 125, 120) .5px;
    margin-bottom: 1em;
    background-color: #FEE7D5;
    padding: 1em;
    text-align: center;
}

h1{
    text-align: center;
}

img{
    max-width: 100%;
}

footer{
    margin: 2em;
    text-align: center;
    font-size: 1.2em;
}


/* Class  Selectors*/

/* ID  Selectors */
#prophets{
    background-color: rgb(230, 208, 191);
    box-shadow: 2px 2px 20px 2px gray;
    margin: 10px;
    padding: 1em;
    margin-bottom: 0px;
}

@media only screen and (min-width: 32em) {
    #prophets{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 1000px) {
    #prophets{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
}