@media only screen and (min-width: 32.5em) {

    .navigation{
        display: flex;
        justify-content: space-evenly;
    }

    .navigation li:first-child{
        display: none;
    }

    .navigation li{
        display: block;
    }

    .contact{
        display: grid;
        padding:0px;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        margin: 40px;
    }

    .fiveForcast{
        display: flex; 
    }




    /* ID Selectors */

    #contactText {
        margin-right: 0px;
        border-right: solid 1px black;
        padding: 0px;
    
    }

    #contactImg{     
        
        display: flex;
        grid-template-columns: 2/3;
        max-width: 10em;  
        align-items: center;
        padding-left: 40%;
    }

    #cities{
        flex-direction: row;
    }



}