
body{
    display: grid;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;

}

button{
    color: #d3a305;
    border-color: #d3a305;
}


/* Class Selectors */

/* Right and Left Buttons */
.rightMove{
    transform: translateX(-100vw);
    transition: all 0.5s
}
.rightMove2{
    transform: translate(-200vw);
}
.leftMove{
    transform: translate(-100vw);
}
.leftMove2{
    transform: translate(-100vw);
    transition: all 0.5s
}

/* Page One */
.positioning{
    width: 40px;
    height: 40px;
    border-radius: 75%;
    position: absolute;
}

/* Page Two */






/* ID Selectors */

#openingSlideSection{
    grid-column: 1/2;
    width: 100vw;
    text-align: center;
}

#page2{
    width: 100vw;
    grid-column: 2/3;
}

#weeklyList{
    width: 100vw;
    grid-column: 3/4;
}

#bodySection{
    background-color: yellow;
}

/* Page One */

#todaysDatePageOne{
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0px;
    width: 4em; height: 4em;
    background-color: #d3a305;
    color: white;
    border-radius: 50%;
    margin: 0px;
    font-size: 2em;
}

#quoteSection{
    justify-content: center;
    text-align: center;
    padding-right: 10%; padding-left: 10%;
    padding-top: 15vh;
}

#quoteAuthor{
    display: flex;
    padding-left: 50vw;
}

#newItemButton{
    position: static;
    border-radius: 0%;
    width: auto;
    height: auto;
}

#firstButton{
    width: 40px;
    height: 40px;
    border-radius: 75%;
    position: absolute;
    right: 10px;
}

#rightButton2{
    right: -98vw;
}
#quoteSectionLarge{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20vh;
    padding-bottom: 2vh;
}

/* Page Two */
#todayDate{
    text-align: center;
}

#addingANewTaskAndList{
    margin: 10vw;
    margin-top: 10vh;
}

#page2{
    margin-top: 10em;
}

#newItemInformation{
    display:flex;
}

.oneTask{
    border-style: solid;
    border-color: #d3a305;
    border-width: 1px;
    margin-top: 20px;
    padding: 10px;
    position: relative;
    max-width: 80%;
    height: auto;
    overflow: hidden;
}

.oneTask button{
    position: absolute;
    right: 1em;
    bottom: 25%;
    border-radius: 0%;
    padding: 7px;
}

#days{
    padding-top: 10vh;
    padding-right: 10vw; padding-left: 10vw; 
}

#days h1{
    font-size: 1.3em;
}