/* HTML Selectors */
body{
    margin: 0px;
}
main{
    font-family: 'Lato', sans-serif;
    color: white;
    background-color: #bca572;
}

img{
    max-width: 100%;   
    margin: 0px;
}

section{
    padding: 0px;
    margin: 0px;
    border: 0px;
}

 /* Navigation */
nav img{
    display: none;
}

nav a{
    text-decoration: none;
    color: black;
}

nav a :visited{
    color: black;
}

nav li :hover{
    font-size: 1.25em;
}
nav ul{
    padding: 0px;
    margin: 1em;
}

h1, h2, h3{
    font-family: "PT Serif";
}

h1, h2, h3, p{
    margin: 20px;
}

footer{
    padding: 3em;
}

footer p{
    padding: 0px;
    margin: 5px;
    display: flex;
    justify-content: center;
}

/* Reservation Page */
form{
    background-color: white;
    color:  black;
    border-style: solid;
    border-color:#bca572;
    margin-top: 15vh; margin-bottom: 15vh;
    margin-right: 2em; margin-left: 2em;
    padding: 2em;
    max-width: 500px;
}

form input{
    width: 75%;
}

form textarea{
    display: block;
    width: 100%;
    height: 6em;
}

form div{
    margin: 1em;
}






/* Class Selectors */

/* Toggle Menu */
.navigation li{
    display: none;
}

.navigation li:first-child{
    display: block;
}

.responsive li{
    display: block;
    justify-content: center;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.paragraphSpacing{
    padding: 1em;
}

/* Reservations */

.formButtons{
    width: 100%;
}

/* Temple Page */
.noBullets{
    list-style: none;
}

.oneTemple{
    padding-top: 5em; padding-bottom: 5em;
    position: relative;
}

.oneTemple section{
    padding: .5em;
}

.oneTemple h1{
    font-size: 3em;
}

.oneTemple h2{
    font-size: 2em;
}








/* ID Selectors */

#homePagePhotoSection{
    position: relative;
}

#makeAReservation{
    width: 150px;
    margin-left: -75px;
    font-family: "PT Serif", "serif";
    text-decoration: none;
    color:#ece8c4;
    position: absolute;
    top: 75%; left: 50%; 
    font-size: 1em;
    padding: 5px;
    justify-content: center;
    display: flex;
    border-style: solid;
}

#makeAReservation:hover{
    color: white;
}

#mainPageSaltLakeCity{
    display: none;
}

#mainPageReflection{
    margin-top: 1.5em;
}

#templeBanner{
    display: none;
}

#fullTimeMissionaries{
    background-color: #dac89a;
    color: white;
}

#fullTimeMissionaries p{
    max-width: 30em;
}
#services{
    padding-top: 50px; padding-bottom: 50px; padding-left: 20px; padding-right: 20px;
    background-color: #dac89a;
}

#services ul{
    padding-bottom: 30px;
}

#fullTimeMissionaries{
    padding: 20px;
}

#fullTimeMissionaries img{
    display: none;
}

/* Reservation Page */

#reservationMain{
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 0px;
}

#loganUtahTemple{
    background-color: #dac89a;
}


