@media only screen and (min-width: 32.5em) {

    /* html selectors */
    header{
        padding-left: 80%;
    }

   
    /* class comments */

    .head{ 
        max-width: 50%;
        padding-top: 1em;
        padding-bottom: .5em;
    }

    /* id selectors */
    #grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}