@import url('https://fonts.googleapis.com/css?family=Gelasio&display=swap');

body {
    font: "Gilasio display", serif;
    display: block;
    margin: auto;
    max-width: 50%;
}

h1 {
    background-color: rgb(102, 95, 95);
    color: white;
    font-size: 2.5em;
    padding-top: .7em;
    padding-bottom: .7em;
    margin-top: 30px;
    padding-left: 30px;
}

img {
    float: right;
    max-width: 150px;  
    margin-right: 10px;
    margin-top: 10px;
}

.centerSection {
    margin-left: 30px;
    margin-bottom: 100px;
}

footer {
    text-align: center;
}