@media only screen and (min-width: 32.5em) {

    /* HTM Selectors */

    ul{
        margin-right: 0em;
        margin-top: 0px;
        padding: 0em;
        display: flex;
        justify-content: space-evenly;
        
    }

    a {
        margin-top: 1em;
    }
    

    header{
        margin: 0px;
    }

    h1{
        padding-top: 2em;
        max-width: 10em;
    }


    /* Class Selectors */

    .leftAlignedContent{
        max-width: 60em;
    }

    /* ID selectors */

    #persona1{
        grid-column: 1/2;
        padding-right: 3em;
        border-right-style: solid;

    }

    #persona2{
        grid-column: 2/3;
        margin-left: 3em;
    }

}