table{
    text-align: center;
    font-family: Ubuntu, sans-serif;
    box-shadow: 10px 10px 10px #628ca6;
}

td{
    border-color: black;
    min-width: 100%;    
    padding: .5em;
    font-weight: lighter;
    margin: 0px;
    border-collapse: collapse;
}
tr{
    margin: 0px;
}
thead th{
    font-size: 1.5em;
    padding: .5em;
}

tfoot, thead th{
    background-color: #7fb9c2;
}


tfoot td{
    font-size: .7em;
    padding: 1em;
}

tbody tr{
    background-color: #e7f0ed;
}

tbody tr:nth-child(even){
    background-color: #e7ffed;
}

tbody th{
    font-weight: lighter;
    font-style: italic;
}

thead td{
    background-color: #628ca6;
    color: white;
    font-weight: 500;
}

#uniqueOne{
    background-color: #628ca6;
    color: white;
}



