button{
    background-color:  #173a34;
    transition: background-color 1s;
    border-radius: 25px;
    padding: 10px;
    margin-right: 10px;
    border-color: #99C1B7;
    color:#99C1B7;
    border-style: solid;
}
button:hover{
    background-color:  #99C1B7;
    color: #1F1F1F;

}

@media only screen and (min-width: 768px){
    button{
        padding: 15px;
        margin-right: 30px;
        margin-top: 20px;
    }

}
