@media only screen and (min-width: 32.5em) {

    .navigation{
        display: flex;
        justify-content: space-evenly;
    }

    .navigation li:first-child{
        display: none;
    }

    .navigation li{
        display: block;
    }

    .contact{
        display: grid;
        padding:0px;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        margin: 40px;
    }

    .fiveForcast{
        display: flex; 
    }




    /* ID Selectors */

    #contactText {
        margin-right: 0px;
        border-right: solid 1px black;
        padding: 0px;
    
    }

    #contactImg{     
        display: flex;
        grid-template-columns: 2/3;
        max-width: 10em;  
        align-items: center;
        padding-left: 40%;
    }


/* Storm Center */
/* HTML */
form{
    padding-top: 10em;
    margin-left: 20%; padding-right: 20%;
}

label{
    display: inline;
    text-align: left;
    padding: .2em;
}

input[type=submit], input[type=reset]{
    margin: .5em;
    width: 46%;
}

form div{
    text-align: left;
}

/* Class */

/* ID */

}