

.aboutMeContainer{

    img{
        display: none;
    }
    h2{
        opacity: 0;
        animation: onLoad 1s .25s;
        animation-fill-mode: forwards;
    }
    h1{
        font-size: 9vw;
        border: 0px;
        margin: 0px;
        opacity: 0;
        color: white;
        font-family: 'MadameGretthaDemoRegular' ;
        animation: onLoad 1s .5s;
        animation-fill-mode: forwards; 
    }

    ul{
        opacity: 0;
        list-style: none;
        animation: onLoad 1s 1s;
        display: flex;
        animation-fill-mode: forwards;
        margin-top: 0px;
        padding-left: 0px;
        padding-top: 20pxl
    }
    p{
        opacity: 0;
        margin-top: -20px;
        animation: onLoad 1s .75s;
        animation-fill-mode: forwards;
    }
}



@media only screen and (min-width: 768px){
    .aboutMeContainer{
        display: flex;
        border: 0px;

        h1{
            font-size: 65px;
        }

        img{
            padding: 10px;
            padding-left: 0px;
            margin-right: 25px;
            display:inline;
            height: 200px;
            width: 200px;
            border-radius: 200px;
            opacity: 0;
            animation: onLoad 1s .5s;
            animation-fill-mode: forwards;  

        }
        ul{
            margin-top: -20px;
        }

    }
}

@keyframes onLoad {
    from{
      opacity: 0;
      transform: translateY(40px);
    }
    to{
      opacity: 1;
      transform: translateY(0px);
    }
  }
