/* You can add global styles to this file, and also import other style files */

$background-color: #173a34;
$font-color: #99C1B7;

body{
  padding: 0px;
  margin: 0px;
  border: 0px;
}

html{
        background-color: $background-color;
        font-family: 'Lato', sans-serif;
        color: font-color;
        padding: 0px;
        margin:0px;
        border: 0px;
        h2, h3, p{
                color: #99C1B7;
              }

              h1{
                font-size: 3vw;
                border: 0px;
                margin: 0px;
                margin-top: 15vh;
                color: white;
                font-family: 'MadameGretthaDemoRegular' ;
            }

            h2{
              font-size: 2vw;
            }
    
            h3{
              font-size: 1.4vw;
            }
            p{
              font-size: 1.1vw;
            }
}