/* You can add global styles to this file, and also import other style files */
html{
    background-color: #0E231F;
        font-family: 'Lato', sans-serif;
        color: #99C1B7;
        padding: 20px;
}