.hamIcon{
    width: 20px;
    height: 1px;
    background-color: #99C1B7;
    margin: 6px 0;
  }
  .hamIconGroup{
      float:right;
  }
  .navigationMenu{
      display: none;
  }

  @media only screen and (min-width: 768px){
      .hamIconGroup{
          display: none;
      }
      .navigationMenu{
        display: flex;
        justify-content: right;
        margin-top: -10px;
      }

      .navigationMenu ul li{
        list-style: none;
        float: right;
        }

      #firstMenu{
        animation: navigationLoad 2s .5s;
        transform: translateY(200px);
      }
      #secondMenu{
        animation: navigationLoad 2s 1s;
      }
      #thirdMenu{
        animation: navigationLoad 2s 1.5s;
      }


  }



  @keyframes navigationLoad {
    from{
        transform: translateX(-200px);
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
      
  }