/* HTML Selectors */

body {
    background-color: #DBE5E3;
    font-family: 'Heebo: ', sans-serif;
    font-weight: 100;
    margin: 0px;
}

h1{
    font-weight: bold;
    font-size: 1.5em;
}

header {
    background-color: white;
}

header section{
    display: inline-block;

}

img {
    max-width: 75px;

}
nav ul{
    list-style-type: none;
    padding: 2em;
    background-color: white; 
    margin: 0px;
}

nav ul li{
    padding: .5em;
}

a{
    color: black;
    text-decoration: none;
    padding: .5em;
}

a:hover{
    text-decoration: underline #F79F47;
}

footer{
    background-color: #181C28; 
    padding: 2em;
    text-align: center;
    color: white;
}

main{
    padding: 100px;
    text-align: center;
}

main section{
    padding: 1em;
}

/* Class */

.active {
    background-color: #F79F47;
}

.navigation li{
    display: none;
}

.navigation li:first-child{
    display: block;
}

.responsive li{
    display: block;
    justify-content: center;

}
/* ID Selectors */
