@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&display=swap');
/* HTML */
html{
    box-sizing: border-box;
   }
   
   *, *:before, *:after{
    box-sizing: inherit;
   }
body{
    font-family: 'Epilogue', sans-serif;
    font-size: .80em;
    display: flex;
    justify-content: center;
}
div{
    background-color: white;
}
a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: #4c96d7;
}
nav ul{
    list-style-type: none;
    display:flex;
    justify-content: space-evenly;
    padding: 0px;
    background-color: #3a3a3a;
    padding-top: .5em; padding-bottom: .5em;
}
ul a{
    color: white;
}

footer{
    border-top: solid .5em #3a3a3a ;
    font-size: .5em;
    justify-content: center;
    text-align: center;
}

nav ul li a:hover{
    color: #a6cbeb;
}

img{
    max-width: 100%;
}

h3{
    margin: 0px;
    color: #4c96d7;
}

h2{
    padding-top: 1em;
    color: red;
}

/* Class */

.active{
    padding: .5em;
    background-color: #4c96d7;
    color: black;
    padding-top: .7em; padding-bottom: .7em;
}

.vehicleGrid{
    margin: 20px;
}



/* ID */

#phpLogo{
    max-width: 100px;
}
#topBox{
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
    padding: 1em;
}
#topBox a {
    margin-left: 40vw;
}
#ownToday{
    max-width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 2em; margin-bottom: 2em;
}

#delorianUl{
    list-style-type: none;
    padding: 0px;
    color: #4c96d7;
}

#delorianDiv{
    position: absolute;
}

#delorianImg{
    margin-top: 3em;
}

#reviews li{
    margin-top: 1em;
    margin-bottom: 1em;
}

#delorianUpgrades{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#delorianUpgrades section{
    max-width: 100%;
    text-align: center;
}

.upgradesBox{
    margin: 1em;
    text-align: center;
}


.upgradesBox img{
   display: block;
   margin-left: auto; margin-right: auto;
   width: 20%;
   padding: 1em;
}
.upgradesImgDiv{
    background-color: #4c96d7;
    height: 4.5em;
}

#inv-display{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
   }
   
   #inv-display li{
    margin-bottom: .5em;
    border: 1px #ccc solid;
    list-style-type: none;
    flex: 1 1 auto;
   }
   
   #inv-display li img {
       max-width: 100%;
   }





@media only screen and (min-width: 30.5em) {
    body{
        background: url('http://localhost/phpmotors/images/site/small_check.jpg');
    }
    nav ul{
        padding-right: 50%;
    }

    header{
        padding-right: 3em; padding-left: 3em;
    }

    main{
        padding: 4em;

    }

    #ownToday{
        position: absolute;
        top: 23em;
        max-width: 12em;
    }

    #largeGrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 3em;
    }

    #reviews ul{
        padding: 0px;
    }

    #inv-display {
		flex-flow: row wrap;
		justify-content: flex-start;
	}

	#inv-display h2{
		font-size: 1rem;
	}

	#inv-display li {
		max-width: 200px;
		flex: 1 0 auto;
		text-align: center;
		height: 250px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
      
	#inv-display div {
		width: 100%;
    }
    
    .vehicleGrid{
        margin: 20px;
        display: grid; grid-template-columns: 1fr 1fr;
    }
    .vehicleInfo{
        grid-column: 1/2;
        margin: 2em;
    }
    .imgBox{
        line-height: 100%;
        text-align: center;
    }

    .imgBox img{
        max-width: 100%;
        margin-right: auto; margin-left: auto;
        vertical-align: middle
    }

}


